<section class="benefits-section">
  <div class="container">
    <!-- Benefits -->
    <h2 class="benefits-title">Product was Built Specifically for You</h2>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <h3 class="benefits-list-title">First click tests</h3>
        <p class="benefits-list-text">
          While most people enjoy casino gambling,
        </p>
      </li>
      <li class="benefits-list-item">
        <h3 class="benefits-list-title">Design surveys</h3>
        <p class="benefits-list-text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>
      <li class="benefits-list-item">
        <h3 class="benefits-list-title">Preference tests</h3>
        <p class="benefits-list-text">
          The Myspace page defines the individual.
        </p>
      </li>
      <li class="benefits-list-item">
        <h3 class="benefits-list-title">Five second tests</h3>
        <p class="benefits-list-text">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button class="benefits-btn" type="button">Sign up now</button>
  </div>
</section>
