<footer>
  <div class="container">
    <a href="/index.html">
      <img src="./images/logo.png" alt="logo" />
      Product
    </a>
    <ul>
      <h3>Resource</h3>
      <li>
        <a href="">About Us</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <a href="">>FAQ</a>
      </li>
    </ul>
    <ul>
      <h3>Legal Stuff</h3>
      <li>
        <a href="">Disclaimer</a>
      </li>
      <li>
        <a href="">Financing</a>
      </li>
      <li>
        <a href="">Privacy Policy</a>
      </li>
    </ul>
    <h3>knowing you're always on the best energy deal.</h3>
    <form></form>
    <button>Sign up Now</button>
    <p>Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
