<header>
  <div class="container hdr-container">
    <nav class="navigation">
      <a class="hdr-logo" href="/index.html">
        <img src="./images/logo.png" alt="logo" />
        Product
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link active" href="/index.html">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prices.html">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customer.html">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources.html">Resources</a>
        </li>
      </ul>
    </nav>
    <ul class="nav-btn-list">
      <li class="nav-btn-list-item">
        <button class="nav-btn" type="button">Sign In</button>
      </li>
      <li class="nav-btn-list-item">
        <button class="nav-btn second" type="button">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
