<section class="managment-section">
  <div class="container management-cntr">
    <div class="managment-text-box">
      <h2 class="mangment-title">
        Effortless Validation for
        <span class="title-part-one">Management</span>
      </h2>
      <p class="managment-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="managment-list">
        <li class="managment-list-item">
          <h3 class="managment-list-title">Accessory makers</h3>
          <p class="managment-list-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="managment-list-item">
          <h3 class="managment-list-title">Alterationists</h3>
          <p class="managment-list-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img
      src="./images/management-img.png"
      alt="folders"
      width="540"
      height="500"
    />
  </div>
</section>
